body {
    margin: 0;
    /* font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1em 2em;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-buttons {
    display: flex;
    gap: 1em;
}

.nav-buttons a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border: 1px solid white;
    border-radius: 5px;
}

.nav-buttons a:hover {
    background-color: white;
    color: #333;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 2em;
}

.input-container {
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    height: 100%;
    margin: 1em;
    padding: 2em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
}

textarea {
    flex: 1;
    padding: 1em; /* Уменьшен отступ */
    font-size: 1em;
    border: 3px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin-bottom: 1em;
}

button {
    padding: 0.75em 1.5em;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}

button:hover {
    background-color: #0056b3;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #666;
}




/* .container_window {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}
.input_div_all {
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
} */